In [7]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
print(fruits)

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [8]:
for x in fruits:
    print(x, end='ðŸ˜‰')

orangeðŸ˜‰appleðŸ˜‰pearðŸ˜‰bananaðŸ˜‰kiwiðŸ˜‰appleðŸ˜‰bananaðŸ˜‰

In [9]:
name = "Chandrashekar"
for i in name:
    print(i, end="")

Chandrashekar

In [10]:
for num in range(30):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [11]:
for name in range(5):
    print("areeba")

areeba
areeba
areeba
areeba
areeba

In [12]:
a = 10
b = 5
sum = a+b
print("sum :",sum)
print("Sum of",a,"and",b,"is",sum)
print(f"sum of {a} and {b} is {sum}")

sum : 15
Sum of 10 and 5 is 15
sum of 10 and 5 is 15

In [13]:
#Table of 15
for i in range(1,11):
    print(f"15 * {i} = {15*i}")

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [1]:
num = 1
while num <=10:
    print(f"15 * {num} = {15*num}")
    num += 1

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [14]:
#sum of integers from 1 to 100
sum = 0
for i in range(1,101):
    sum = sum + i
print("sum of integers from 1 to 100 is",sum)

sum of integers from 1 to 100 is 5050

In [15]:
sum = 0
num = 1
while num <= 100:
    sum = sum+num
    num = num+1
print("sum of integers from 1 to 100 is",sum)

sum of integers from 1 to 100 is 5050

In [16]:
sum = 0
for i in range(1,21):
    if i%2 == 0:
        print(i)
        sum = sum + i
print("sum of even numbers from 1 to 20 is",sum)

2
4
6
8
10
12
14
16
18
20
sum of even numbers from 1 to 20 is 110

In [17]:
num = 1
while num <=10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

BREAK AND CONTINUE

In [18]:
fruits = ['orange', 'apple', 'pear', 'banana','tomato', 'kiwi', 'apple', 'banana']
for fruit in fruits:
    if fruit == "tomato":
        break
    print(fruit)

orange
apple
pear
banana

In [19]:
fruits = ['orange', 'apple', 'pear', 'banana','tomato', 'kiwi', 'apple', 'banana']
for fruit in fruits:
    if fruit == "tomato":
        continue
    print(fruit)

orange
apple
pear
banana
kiwi
apple
banana

In [23]:
for i,f in enumerate(fruits):
    print(f'{i}. {f}')

0. orange
1. apple
2. pear
3. banana
4. tomato
5. kiwi
6. apple
7. banana

In [25]:
items = ['pen','pencil','eraser','sharpner','scale','book','bag','bottle','lunchbox','tiffin']
for i, v in enumerate(items):
    if i == 8:
        break
    print(f'{i}: {v}')

0: pen
1: pencil
2: eraser
3: sharpner
4: scale
5: book
6: bag
7: bottle