- how to declare dictionary in different ways
- how to access key and values of dictionary
- how to use loops in dictionary
- nested dictionary

### heading
- item
- item
   - subitem 
   - subitem
- item

In [2]:
student = {
    "name": "John",
    "class" : "12th",
    "roll_no" : 2,
    "age" : 17
}
print(student)

{'name': 'John', 'class': '12th', 'roll_no': 2, 'age': 17}

In [3]:
temp = {
    'lucknow' : [25,30,35],
    'delhi' : [30,35,40],
    'chennai' : [24,23,22]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'chennai': [24, 23, 22]}

In [5]:
info = dict(name = 'John', age = 17, roll_no = 2, class_ = '12th')
print(info)

{'name': 'John', 'age': 17, 'roll_no': 2, 'class_': '12th'}

In [7]:
info2 = dict(name=input("Enter your name: "),
         age=int(input("Enter your age: ")),
         roll_no=int(input("Enter your roll_no: ")),
         class_=input("Enter your class: "))
print(info2)

{'name': 'areeba', 'age': 12, 'roll_no': 123, 'class_': '12'}

In [9]:
#1st method to access the value of a key
print(student['name'])
print(temp['lucknow'])

John
[25, 30, 35]

In [11]:
#2nd method to access the value of a key
print(student.get('age'))
print(info2.get('roll_no'))

17
123

In [13]:
# to add items in a dictionary
student['city'] = 'Lucknow'
student['school'] = "DPS"
print(student)

{'name': 'John', 'class': '12th', 'roll_no': 2, 'age': 17, 'city': 'Lucknow', 'school': 'DPS'}

In [14]:
#to remove items from a dictionary
student.pop('school')
print(student)

{'name': 'John', 'class': '12th', 'roll_no': 2, 'age': 17, 'city': 'Lucknow'}

In [17]:
#using del method
del student['roll_no']
print(student)

{'name': 'John', 'class': '12th', 'age': 17}

In [18]:
for k in info:
    print(k)

name
age
roll_no
class_

In [22]:
for k,v in info2.items():
    print(f"{k} : {v}")

name : areeba
age : 12
roll_no : 123
class_ : 12

In [24]:
print(student.values())
print(student.keys())
print(student.items())

dict_values(['John', '12th', 17])
dict_keys(['name', 'class', 'age'])
dict_items([('name', 'John'), ('class', '12th'), ('age', 17)])

In [27]:
company = {
    'emp001' : {'name':'John', 'age':25, 'dept':'HR', 'salary':25000},
    'emp002' : {'name':'Emma', 'age':30, 'dept':'Finance', 'salary':30000},
    'emp003' : {'name':'Linda', 'age':35, 'dept':'IT', 'salary':35000},
    'emp004' : {'name':'David', 'age':40, 'dept':'Admin', 'salary':40000}
}
print(company)

{'emp001': {'name': 'John', 'age': 25, 'dept': 'HR', 'salary': 25000}, 'emp002': {'name': 'Emma', 'age': 30, 'dept': 'Finance', 'salary': 30000}, 'emp003': {'name': 'Linda', 'age': 35, 'dept': 'IT', 'salary': 35000}, 'emp004': {'name': 'David', 'age': 40, 'dept': 'Admin', 'salary': 40000}}

In [28]:
from pprint import pp

In [29]:
pp(company)

{'emp001': {'name': 'John', 'age': 25, 'dept': 'HR', 'salary': 25000},
 'emp002': {'name': 'Emma', 'age': 30, 'dept': 'Finance', 'salary': 30000},
 'emp003': {'name': 'Linda', 'age': 35, 'dept': 'IT', 'salary': 35000},
 'emp004': {'name': 'David', 'age': 40, 'dept': 'Admin', 'salary': 40000}}

In [30]:
print(company['emp002'])

{'name': 'Emma', 'age': 30, 'dept': 'Finance', 'salary': 30000}

In [31]:
print(company['emp002']['dept'])

Finance

In [35]:
#indexing in dictionary
print(temp['lucknow'][0])
print(temp['delhi'][2])

25
40

In [37]:
print("Average temperature of delhi is", sum(temp['delhi'])/len(temp['delhi']))

Average temperature of delhi is 35.0